<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :hq %>
    <%= form.text_field :hq %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.select :size , options_for_select(["1-499","500-999","1000+"]) %>
  </div>

  <div class="field">
    <%= form.label :founded %>
    <%= form.number_field :founded %>
  </div>

  <div class="field">
    <%= form.label :industry %>
    <%= form.text_field :industry %>
  </div>

  <div class="field">
    <%= form.label :revenue %>
    <%= form.number_field :revenue %>
  </div>

  <div class="field">
    <%= form.label :synopsis %>
    <%= form.text_area :synopsis %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <input type="hidden" id="user_id" value= />
<% end %>
