<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Employment:</strong>
  <%= @job.employment %>
</p>

<p>
  <strong>Responsibilities:</strong>
  <%= @job.responsibilities %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @job.requirements %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<% if session[:usertype] == '0' then %>
  <%= link_to 'Show applicants', view_applicants_view_url(:job_id=>@job.id) %> |
  <%= link_to 'Back', system_admin_path%>
<% elsif session[:usertype] == '2' then %>
   <% if User.find_by_id(session[:user_id]).company == @job.company then %>
    <%= link_to 'Show applicants', view_applicants_view_url(:job_id=>@job.id) %> |
    <% end %>
    <%= link_to 'Back', recruiter_url %>
<% end %>

