<p id="notice"><%= notice %></p>

<h1>Job Applications</h1>

<table>
  <thead>
  <tr>
    <th>Linkedin URL</th>
    <th>Portfolio</th>
    <th>Additional Info</th>
    <th>Gender</th>
    <th>Status</th>
    <th>Resume</th>
    <th>Update Status</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @applicants.each do |applicant| %>
    <tr>
      <td><%= applicant.linkedin %></td>
      <td><%= applicant.portfolio %></td>
      <td><%= applicant.additionalinfo %></td>
      <td><%= applicant.gender %></td>
      <td><%= applicant.status.to_s %></td>
      <td><%= link_to 'View Uploaded Resume',applicant.resume.url%></td>

      <%if applicant.job.user.id == session[:user_id] || session[:usertype] == '0'%>
      <td><%=form_for applicant do |form|%>
          <%= form.select "status", options_for_select([:received,:in_process, :hired, :not_selected]), selected: applicant.status
          %>
        <td><%= form.submit "Update"%></td>
          <% end %>
          </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>